@import "tailwindcss";
@import "../../styles/theme.css";

body {
    font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-jakarta);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.6s ease-out forwards;
}